<h2>Содержимое корзины:</h2>
<table class="table table-striped">
  <thead>
  	<tr>
  		<th scope="col">#</th>
  		<th scope="col">Product</th>
		<th scope="col">Price</th>
  		<th scope="col">Number</th>
  	</tr>
  </thead>
  <tbody>
  	<% @items.each do |item| %>
  		<tr>
  			<th scope="col">#</th>
  			<th scope="col"><%= item[0].title %></th>
  			<th scope="col"><%= item[0].price %></th>
			<th scope="col"><%= item[1]%></th>
  		</tr>
  	<% end %>
  </tbody>
</table>